<div class="table-container">
  <table mat-table [dataSource]="artists" class="mat-elevation-z8 full-width">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Artist </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Listeners Column -->
    <ng-container matColumnDef="listeners">
      <th mat-header-cell *matHeaderCellDef> Listeners </th>
      <td mat-cell *matCellDef="let element"> {{element.listeners}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onViewDetails(element.id, $event)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>
  </table>
</div>
