# Configuraci칩n de proxy para la API de Deezer
[[redirects]]
  from = "/api/deezer/*"
  to = "https://api.deezer.com/:splat"
  status = 200
  force = true
  headers = {Access-Control-Allow-Origin = "*"}

# Configuraci칩n para SPA routing (para que todas las rutas funcionen con React Router)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Configuraci칩n para im치genes de Deezer
[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
